<form class="form-auth" ng-submit="save(user)">
	<h2>Edit Profile</h2>
	<p class="text-warning">{{error_message}}</p>
    <label>User Name</label> <input type="username" ng-model="user.username" placeholder="Username" class="form-control"><br>
    <label>Name</label> <input type="name" ng-model="user.name" placeholder="name" class="form-control"><br>
    <label>Email</label> <input type="email" ng-model="user.email" placeholder="email" class="form-control"><br>
    <label>Is Administrator?</label> <br>
    <input type='radio' name='isadmin' ng-model='user.isadmin' value='yes' />Yes
	<input type='radio' name='isadmin' ng-model='user.isadmin' value='no' /> No<br>
	<input type="submit" value="Save" class="btn btn-primary" />
    <input type="button" value="Cancel" class="btn" ng-click="cancelEditing()" />
</form>
